.App {
	text-align: center;
}

body {
	background-color: aquamarine;
}

.inputContainer {
	padding-top: 10px;
}

.title {
	color: #ffe81f;
	font-size: 4rem;
	font-weight: 800;
}

.titleContainer {
	background-color: black;
	height: 100px;
}
