.App {
	text-align: center;
}

body {
	background-image: url(images/deathstar.jpg);
}

.inputContainer {
	padding-top: 10px;
}

.title {
	color: #ffe81f;
	font-size: 4rem;
	font-weight: 800;
}

.titleContainer {
	background-color: black;
	background-image: url(images/stars.png);
	height: 100px;
}

.table-container {
	margin-top: 25px;
}
